@import "tailwindcss";


@keyframes gradient-spin {
  100% {
    --angle: 360deg;
  }
}

.gradient-border {
  position: relative;
  z-index: 1;
}

.gradient-border::before,
.gradient-border::after {
  content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    padding: 2px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: 4s gradient-spin linear infinite;
    animation: 4s gradient-spin linear infinite;
    border-radius: 9999999px;
    background-image: conic-gradient(from var(--angle), transparent 70%, rgba(216,106,212,0.231373), rgba(151,110,221,0.309804), rgba(162,110,220,0.2), rgba(255,255,255,0));
}

.gradient-border::before {
  filter: blur(20px);
  opacity: 0.5;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 25s linear infinite;
}
.marquee:hover {
  animation-play-state: paused;
}